{% extends 'base.html.twig' %}

{% block title %}QR CODE MANAGER{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="bg-info shadow py-2">
        <h1 class="text-center text-white">QR CODE MANAGER</h1>
    </div>
    {# React connection #}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
