<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="icon" href="/img/favicon.png" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Flash message -->
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message|raw }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <!-- /Flash message -->
        {% block body %}{% endblock %}
        
        <script src="/js/jQuery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
